@use "src/styles/mixins" as *;

.settings-list {
    @include flex($direction: column, $justify: start, $align: stretch, $gap: 6px);
    flex: 1 1 auto;
}

.setting {
    width: 100%;
}

.section-title {
    margin-top: 16px;
}