@use "src/styles/mixins" as *;

.settings-list {
    @include flex($direction: column, $justify: start, $align: stretch);
    flex: 1 1 auto;
    gap: 6px;
}

.select-file {
    display: none;
}

.setting {
    width: 100%;
}