@use "src/styles/mixins" as *;

.movie-poster {
    width: 172px;
    border-radius: 8px;
}

.title {
    @include flex($direction: row, $justify: space-between);
    font-weight: 500;
    font-size: 34px;
    margin-bottom: 8px;
}

.length-and-premiere {
    @include flex($direction: row);
    gap: 128px;
    margin-bottom: 16px;
}

.description {
    @include flex($direction: column, $justify: start);
    flex: 1 1 auto;   
}

.movie-content {
    @include flex($direction: row, $justify: start, $align: start);
    flex: 1 1 auto;
    gap: 32px;
}

.movie-description {
    opacity: 0.8;
    font-size: 16;
}