@use "src/styles/mixins" as * ;

div {
    @include flex($align: center, $direction: column, $gap: 10px);
    background-color: var(--fds-solid-background-secondary);
    border-radius: 20px;
    padding: 30px;
    text-align: center;
    width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}