@use "src/styles/mixins" as *;
@import "fluent-svelte/theme.css";

.align-right {
    align-items: center;
    justify-content: flex-end;
    display: flex;
    margin-left: auto;
    width: 50%;
}

.align-left {
    align-items: center;
    justify-content: flex-start;
    display: flex;
    margin-right: auto;
    width: 50%;
}

.dialog-form {
    background-color: var(--fds-solid-background-base);
    border: 1px solid var(--surface-stroke-default);
    border-radius: var(--fds-overlay-corner-radius);
    overflow: hidden;
}

.footer {
    @include flex($align: center);
    background-color: var(--fds-solid-background-secondary);
    padding: 15px;
}

.content {
    @include flex($align: center, $direction: column, $gap: 10px);
    padding: 20px;
}