@use "src/styles/mixins" as *;
@import "fluent-svelte/theme.css";

.footer-right {
    margin-left: auto;
}

.dialog-form {
    background-color: var(--fds-solid-background-base);
    border: 1px solid var(--fds-surface-stroke-default);
    border-radius: var(--fds-overlay-corner-radius);
    overflow: hidden;
}

.footer {
    @include flex($align: center);
    background-color: var(--fds-solid-background-secondary);
    padding: 20px;
}

.content {
    @include flex($align: center, $direction: column, $gap: 10px);
    padding: 20px;
}