@use "src/styles/mixins" as *;

.wrapper {
    @include flex($direction: column, $gap: 64px);
    flex: 1 1 auto;
    padding: 2% 6% 2% 6%;
}

.progress-ring-overlay {
    @include flex($align: center, $justify: center);
    width: 100%;
    height: 64px;
}