@use "src/styles/mixins" as *;

hr {
    width: 100%;
}

div {
    @include flex($align: center, $direction: column, $gap: 10px);
    @include center;
    background-color: var(--fds-solid-background-secondary);
    border-radius: 20px;
    padding: 30px;
    text-align: center;
    width: 300px;
}