@use "src/styles/mixins" as *;

.wrapper {
    @include flex($direction: row, $justify: around);
}

.column {
    @include flex($direction: column, $align: center, $gap: 32px);
}

.column-item {
    @include flex($direction: column, $align: center, $gap: 4px);
    opacity: 0.8;
}

.text-overflow {
    max-width: 104px;
    text-overflow: wrap;
}