@use "src/styles/mixins" as *;

.column {
    @include flex($direction: column, $align: center, $justify: center);
}

.wrapper {
    @include flex($direction: row, $align: start, $justify: space-evenly);
    flex: 1 1 auto;
    border-radius: var(--fds-overlay-corner-radius);
    background-color: var(--fds-control-fill-default);
    height: 36vh;
}

.column-header {
    font-size: 18px;
    padding: 12px;
}