@use "src/styles/mixins" as *;

:global {
    .main-content {
        @include flex($direction: column, $align: center);
    }

    .banner-img {
        @include flex($align: center);
        max-width: 1080px;
        overflow: hidden;
        block-size: auto;
        user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
    }

    .banner-subtitle {
        opacity: 0.8;
    }

    .cards {
        @include flex($direction: row, $align: start, $justify: center);
        flex: 1 1 auto;
    }

    .details-button {
        width: 128px;
    }
    
    .hero-section {
        position: relative;
        overflow: hidden;
    }

    .hero-left {
        @include flex($direction: column, $align: start, $justify: center);
        flex: 1 1 auto;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
        height: 100%;
        padding: 16px;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.6) 30%, transparent);
    }
}