@use "src/styles/mixins" as *;

:global {
    .banner-img {
        @include flex($align: center);
        overflow: hidden;
        block-size: auto;
        user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
    }

    .banner-subtitle {
        opacity: 0.8;
    }
    
    .small-banner-img {
        max-height: 110%;
        flex-shrink: 0;
        transform-origin: right;
        transition-duration: 500ms;
        border-radius: 8px;

        &:hover {
            transform: scale(94%);
            transition-duration: 750ms;
        }
    }

    .cards {
        @include flex($direction: row);
    }

    .card {
        @include flex($justify: center, $align: center);
        flex: 0 0 auto;
        margin: 0px 12px 0px 0px;
        overflow: hidden;
        width: 216px;
        height: 120px;
        border-radius: 8px;
        border-width: 4px;
        border-style: solid;
        background-color: transparent;
        border-color: transparent;
        transition-duration: 250ms;
        
        &:hover {
            border-color: $accent-color;
            transition-duration: 250ms;
        }
    }

    .card-name {

    }

    .details-button {
        width: 128px;
    }
    
    .hero-section {
        position: relative;
        overflow: hidden;
    }
    
    .hero-left {
        @include flex($direction: column, $align: start, $justify: center);
        flex: 1 1 auto;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
        height: 100%;
        padding: 16px;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.6), transparent );
    }
}