@use "src/styles/mixins" as *;

:global {
    .banner-img {
        @include flex($align: center);
        overflow: hidden;
        block-size: auto;
    }

    .cards {
        background: inherit;
    }

    .card {
    }

    .details-button {
        width: 128px;
    }
    
    .hero-section {
        position: relative;
        overflow: hidden;
    }
    
    .hero-left {
        @include flex($direction: column, $align: start, $justify: center);
        flex: 1 1 auto;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
        height: 100%;
        padding: 16px;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.6), transparent );
    }
}