@use "src/styles/mixins" as *;

.footer-wrapper {
    @include flex($direction: row, $align: center, $justify: space-between);
    background-color: var(--fds-solid-background-secondary);
    padding: 3% 4% 3% 4%;
    border-block-start: 1px solid var(--fds-divider-stroke-default);
}

h2 {
    font-weight: 500;
}

.column-title {
    font-size: 15px;
    opacity: 0.8;
    margin-bottom: 8px;

    &.copyright {
        margin-top: -16px;
    }
}

.site-details {
    @include flex($direction: row, $align: start, $justify: space-between);
    width: 15%;
}

.column {
    @include flex($direction: column, $align: center, $justify: start);
}

.title-column {
    @include flex($direction: column, $align: start, $justify: start);
    margin-top: -48px;
}